<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Base</title>
    <link
      rel="stylesheet"
      href="../css/base.css" />
    <script
      src="../js/base.js"
      defer></script>
  </head>
  <body>
    <nav>
      <div class="nav-header">
        <div class="logo">
          <h1 class='nav-title'>Bem vindo, Usuário</h1>
          <p class='nav-description'>Acesse seus testes criados ou crie um novo teste!</p>
        </div>
        <div class="nav-right">
          <button class="btn-new-test">
            <img
              src="../assets/plus.svg"
              alt="" />
            Novo Teste
          </button>
          <div class="user">
            <button class="btn-logout">
              <img
                src="../assets/logout.svg"
                alt="" />Log out
            </button>
          </div>
        </div>
      </div>
      <ul class="nav-links">
        <li class="nav-link active">Meus Testes</li>
        <li class="nav-link">Rascunho</li>
      </ul>
    </nav>
    <main>
      <!-- Content goes Here -->
    </main>
  </body>
</html>
