<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Student</title>
    <link
      rel="stylesheet"
      href="../css/student.css" />
    <script
      src="../js/base.js"
      defer></script>
  </head>
  <body>
    <nav>
      <div class="nav-header">
        <div class="logo">
          <img
            src="../assets/layers.svg"
            alt="" />
          Exam
        </div>
        <button class="btn-new-test">
          <img
            src="../assets/plus.svg"
            alt="" />
          Novo Teste
        </button>
      </div>
      <ul class="nav-links">
        <li class="nav-link active">Meus Testes</li>
        <li class="nav-link">Fazer Teste</li>
      </ul>
    </nav>
    <main>
      <!-- Test Log HTML End -->
      <div class="question-container">
        <div class="question">
          <span class="score"></span>
        </div>
        <div class="alternatives-container"></div>
      </div>

      <!-- Test Log HTML Start -->

      <!-- <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Data</th>
              <th>Disciplina</th>
              <th>Status</th>
              <th>Num. Questões</th>
              <th>Relatório</th>
              <th>Nota</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Teste 1</td>
              <td>01/01/2020</td>
              <td>Eng. De Software</td>
              <td><span class="closed-tag">Fechado</span></td>
              <td>10</td>
              <td>
                <button class="btn-download">
                  <img
                    src="../assets/download.svg"
                    alt="" />
                  Baixar
                </button>
              </td>
              <td>9.50</td>
            </tr>
            <tr>
              <td>Teste 1</td>
              <td>01/01/2020</td>
              <td>Eng. De Software</td>
              <td><span class="opened-tag">Aberto</span></td>
              <td>10</td>
              <td>
                <button class="btn-download">
                  <img
                    src="../assets/download.svg"
                    alt="" />
                  Baixar
                </button>
              </td>
              <td>9.50</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </main>
  </body>
</html>
