{% extends "base.html" %}

{% block content %}
    <h1>{{ teste.nome }}</h1>
    <p>{{ teste.descricao }}</p>
    <form method="post" action="{{ url_for('student.answer_test', teste_id=teste.id) }}">
        {{ form.csrf_token }}
        {% for questao in teste.questoes %}
            <div>
                <fieldset>
                    <legend style="display: flex; gap: 5rem;">
                        <h3>{{ questao.nome }}</h3>
                        <p>Pontuação: {{ questao.pontuacao }}</p>
                    </legend>
                    <p>Enunciado: {{ questao.texto }}</p>
                    {% if questao.tipo == 'multipla_escolha' %}
                        {% for subfield in form['resposta_questao_' ~ questao.id] %}
                            <label>
                                {{ subfield }}
                                {{ subfield.label.text }}
                            </label><br>
                        {% endfor %}
                    {% elif questao.tipo == 'verdadeiro_falso' %}
                        {% for subfield in form['resposta_questao_' ~ questao.id] %}
                            <label>
                                {{ subfield }}
                                {{ subfield.label.text }}
                            </label><br>
                        {% endfor %}
                    {% else %}
                        {{ form['resposta_questao_' ~ questao.id] }}
                    {% endif %}
                </fieldset>
            </div>
        {% endfor %}
        {{ form.submit() }}
    </form>
{% endblock %}
