<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style_auth.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/script.js') }}"
      defer
    ></script>
  </head>
  <body>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
      <div class="form-container">
        <form action="{{ url_for('auth.login' ) }}" method="post">
          {{ form.hidden_tag() }}
          <h1 class="form-title">Login your account</h1>
          <p class="form-description">Fill in to get access to the Platform</p>
          <div class="form-layout">
            <div class="form-input">
              {{ form.matricula.label }} {{ form.matricula(class="input-field")
              }} {% for error in form.matricula.errors %}
              <span class="error">{{ error }}</span>
              {% endfor %}
            </div>
            <br />
            <div class="form-input">
              {{ form.senha.label }} {{ form.senha(class="input-field") }} {%
              for error in form.senha.errors %}
              <span class="error">{{ error }}</span>
              {% endfor %}
            </div>
            <br />
            {{ form.submit() }}
            <a href="{{ url_for('auth.register' ) }}">Registrar-se</a>
          </div>
        </form>
      </div>
      <button class="dark-mode-btn">
        <img src="../../static/images/Moon.svg" alt="" class="dark-mode-icon" />
      </button>
    </main>
  </body>
</html>
