{% extends 'base.html' %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/teacher.css') }}"
/>
{% endblock %} {% block content %}
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data da Abertura</th>
        <th>Data do Fechamento</th>
        <th>Disciplina</th>
        <th>Status</th>
        <th>Num. Questões</th>
        <th>Nota</th>
        <th>Ações</th>
        <!-- Adicionado aqui -->
      </tr>
    </thead>
    <tbody>
      {% for test in tests %}
      <tr>
        <td>{{ test.nome }}</td>
        <td>{{ test.abertura.strftime('%d/%m/%Y %H:%M') }}</td>
        <td>{{ test.fechamento.strftime('%d/%m/%Y %H:%M') }}</td>
        <td>Engenharia de Software</td>
        <td>
          <span class="{{ test.status.name.lower() }}-tag">
            {{ test.status.name.capitalize() }}
          </span>
        </td>
        <td>{{ test.questoes|length }}</td>
        <td>
          {% for notebook in notebooks if notebook.teste_id == test.id %} {{
          notebook.nota }} {% endfor %}
        </td>
        <td>
          {% if has_answered[loop.index0] %}
          <!-- Se o teste foi respondido ou está fechado, mostrar o botão Relatório -->
          <a href="{{ url_for('student.relatorio_teste', teste_id=test.id ) }}">
            <button class="btn-new-test">
              <img src="../assets/report.svg" alt="" />
              Relatório
            </button>
          </a>
          {% elif test.status.name == 'ABERTO' %}
          <!-- Se o teste ainda não foi respondido e está aberto, mostrar o botão Responder -->
          <a href="{{ url_for('student.answer_test', teste_id=test.id ) }}">
            <button class="btn-new-test">
              <img src="../assets/answer.svg" alt="" />
              Responder
            </button>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%} {% block scripts %}
<script src="{{ url_for('static', filename='js/teacher.js') }}" defer></script>
{% endblock %}
