{% extends 'base.html' %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/teacher.css') }}"
/>
{% endblock %} {% block content %}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data</th>
        <th>Disciplina</th>
        <th>Status</th>
        <th>Num. Questões</th>
        <th>Relatório</th>
        <th>Nota</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for teste in testes %}
      <tr>
        <td>{{teste.nome}}</td>
        <td>{{teste.created_at.strftime('%d/%m/%Y')}}</td>
        <td>Eng. De Software</td>
        <td>
          {% if teste.status.value == "aberto" %}
          <span class="opened-tag">Aberto</span>
          {% elif teste.status.value == "pendente" %}
          <span class="closed-tag">Pendente</span>
          {% else %}
          <span class="closed-tag">Fechado</span>
          {% endif %}
        </td>
        <td>{{ teste.questoes|length }}</td>
        <td>
          <button class="btn-download">
            <img src="../assets/download.svg" alt="" />
            Baixar
          </button>
        </td>
        <td>{{teste.nota}}</td>
        <td>
          <div class="actions-group">
            <a
              href="{{ url_for('teacher.delete_test', teste_id=teste.id) }}"
              class="btn-actions"
              >Excluir</a
            >

            {% if teste.status.value == "pendente" %}
            <a
              href="{{ url_for('teacher.change_test_status', teste_id=teste.id, new_status='aberto') }}"
              class="btn-actions"
              >Abrir</a
            >
            {% endif %} {% if teste.status.value == "aberto" %}
            <a
              href="{{ url_for('teacher.change_test_status', teste_id=teste.id, new_status='fechado') }}"
              class="btn-actions"
              >Fechar</a
            >
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%} {% block scripts %}
<script src="{{ url_for('static', filename='js/teacher.js') }}" defer></script>
{% endblock %}
