<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css' ) }}"
    />
    <script
      src="{{ url_for('static', filename='js/exame.js') }}"
      defer
    ></script>
  </head>
  <body>
    <nav class="sidebar">
      <div class="sidebar-top">
        <div class="logo">
          <img src="../../static/assets/logo.svg" alt="" class="logo-img" />
          <h1 class="logo-label">Exam.io</h1>
        </div>
        <h2 class="sidebar-title">Menu</h2>
        <ul class="nav-link-list">
          <a class="nav-link">
            <img
              src="../../static/assets/paperclip-active.svg"
              alt=""
              class="icon paperclip-icon active"
            />
            <h2 class="nav-link-label paperclip-label">Fazer Exame</h2>
          </a>
          <a class="nav-link">
            <img
              src="../../static/assets/user.svg"
              alt=""
              class="icon user-icon"
            />
            <h2 class="nav-link-label user-label">Profile</h2>
          </a>
        </ul>
      </div>
    </nav>
    <main>
      <h1 class="main-title">Bom dia, {{current_user.nome}}</h1>
      <p class="main-subtitle">
        "O exercício físico, quando obrigatório, não causa danos ao corpo;
        <br />
        porém, o conhecimento adquirido sob compulsão não se fixa na mente." -
        Platão
      </p>
      <section class="exam-container">
        <div class="exam-header-description">
          <div class="exam-title">
            <img
              src="../../static/assets/computer-emoji.svg"
              alt=""
              class="exam-title-emoji"
            />
            <h2 class="exam-title-label">Eng. De Software</h2>
          </div>
          <p class="exam-subtitle">BDD • Capítulo 6</p>
        </div>
        <div class="progress-container">
          <span class="exam-header-progress">40%</span>
          <div class="progress-exam">
            <div class="progress-bar-exam"></div>
          </div>
          <!-- Aqui começa a questão - a ser trocada no jinja -->
          <form
            action="{{ url_for('student.show', teste_id=test_info.teste.id, questao_id=questao.id) }}"
            method="POST"
          >
            <h1 class="question-title">Questão {{ questao_number }}</h1>
            <p class="question-description">{{ questao.texto }}</p>

            {% if questao.tipo == 'multipla_escolha' %}
            <div class="answer-list">
              {% for opcao in questao.opcoes %} <input type="radio" id="{{
              opcao.id }}" name="options" class="hidden-radio" value="{{
              opcao.letra }}" {% if resposta == opcao.letra %}checked{% endif %}
              />
              <label for="{{ opcao.id }}">
                <div class="answer-container">{{ opcao.texto }}</div>
              </label>
              {% endfor %}
            </div>
            {% elif questao.tipo == 'verdadeiro_falso' %} <input type="radio"
            id="check-v" name="options" class="hidden-radio" value="Verdadeiro"
            {% if resposta == 'Verdadeiro' %}checked{% endif %} />
            <label for="check-v">
              <div class="answer-container">Verdadeiro</div>
            </label>
            <input type="radio" id="check-f" name="options" class="hidden-radio"
            value="Falso" {% if resposta == 'Falso' %}checked{% endif %} />
            <label for="check-f">
              <div class="answer-container">Falso</div>
            </label>
            {% elif questao.tipo == 'discursiva' %}

            <input
              type="number"
              class="num-choice-input"
              placeholder="Resposta"
              name="options"
            />
            {% endif %}

            <!-- Aqui termina a questão -->
            <div class="action-btns-container">
              {% if questao_anterior %}
              <button
                type="submit"
                class="action-btn"
                name="action"
                value="anterior"
              >
                <img src="../../static/assets/chevron-left.svg" alt="" />
                <a
                  href="{{ url_for('student.show', teste_id=test_info.teste.id, questao_id=questao.id-1) }}"
                  >Anterior</a
                >
              </button>
              {% else %}
              <button
                type="submit"
                class="action-btn"
                name="action"
                value="anterior"
              >
                <img src="../../static/assets/chevron-left.svg" alt="" />
                <a href="{{ url_for('student.index')}}">Cancelar</a>
              </button>
              {% endif %} {% if proxima_questao %}
              <button
                type="submit"
                class="action-btn"
                name="action"
                value="proxima"
              >
                Próxima
                <img src="../../static/assets/chevron-right.svg" alt="" />
              </button>
              {% else %}
              <button
                type="submit"
                class="action-btn"
                name="action"
                value="finalizar"
              >
                Finalizar
                <img src="../../static/assets/chevron-right.svg" alt="" />
              </button>
              {% endif %}
            </div>
          </form>
        </div>
        <div class="exam-header-time">
          <span class="time-left">{{test_info.tempo_restante}}</span>
          <span class="time-label">Tempo Restante</span>
        </div>
        <div class="questions-container">
          <div class="questions-header">
            <img src="../../static/assets/file-emoji.svg" alt="" />
            <h1 class="questions-title">Questões</h1>
          </div>
          <ul class="questions-list">
            {% for questao in test_info.teste.questoes %}
            <li
              class="question-container {% if question_number == questao_atual %}current{% endif %}"
            >
              <a
                href="{{ url_for('student.show', teste_id=test_info.teste.id, questao_id=questao.id) }}"
              >
                <span class="question">Questão {{ loop.index }}</span>
              </a>

              <img src="../../static/assets/check-emoji.svg" alt="" />
              <!-- <img src="../../static/assets/red-flag-emoji.svg" alt="" /> -->
            </li>
            {% endfor %}
          </ul>
          <!-- <button class="submit-btn">
            Finalizar
            <img src="../../static/assets/chevron-right-white.svg" alt="" />
          </button> -->
        </div>
      </section>
    </main>
  </body>
</html>
